src/main/resources/META-INF/WSDL/Service/CreditInfoCBRService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:xs = "http://www.w3.org/2001/XMLSchema"
  targetNamespace = "http://www.kuznetsov.ru/request"
  elementFormDefault = "qualified">
    <xs:element name="ServiceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bicCodesXML" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ServiceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name= "typeResponse" type="xs:string"/>
                <xs:element name= "additionalInfo" type="xs:string"/>
                <xs:element name= "file" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>