src/main/resources/META-INF/WSDL/Service/CreditInfoCBRService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://www.kuznetsov.ru/soap"
        targetNamespace="http://www.kuznetsov.ru/soap">
    <wsdl:types>
        <xs:schema
                xmlns:xs="http://www.w3.org/2001/XMLSchema"
                elementFormDefault="qualified"
                targetNamespace="http://www.kuznetsov.ru/soap">
            <xs:element name="ServiceRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="bic" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="ServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="typeResponse" type="xs:string"/>
                        <xs:element name="additionalInfo" type="xs:string"/>
                        <xs:element name="file" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="ServiceRequest">
        <wsdl:part element="tns:ServiceRequest" name="ServiceRequest">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="ServiceResponse">
        <wsdl:part element="tns:ServiceResponse" name="ServiceResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="CreditInfoCBRServicePort">
        <wsdl:operation name="Service">
            <wsdl:input message="tns:ServiceRequest" name="ServiceRequest">
            </wsdl:input>
            <wsdl:output message="tns:ServiceResponse" name="ServiceResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CreditInfoCBRServicePortSoap11" type="tns:CreditInfoCBRServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Service">
            <soap:operation soapAction=""/>
            <wsdl:input name="ServiceRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ServiceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="CreditInfoCBRServicePort">
        <wsdl:port binding="tns:CreditInfoCBRServicePortSoap11" name="CreditInfoCBRServicePortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>